:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey500: hsl(234, 12%, 34%);
  --Grey400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  display: grid;
  align-items: center;
  height: 100vh;
}

.main {
}

.heading {
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  border-radius: 2px;
  border-top: 2px;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

/* Responsive Styles */
