:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey500: hsl(234, 12%, 34%);
  --Grey400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
  --fontsize: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  display: grid;
  place-items: center;
  height: 100vh;
}

.main {
  padding: 5%;
}

.heading {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template: 2fr 2fr 2fr / 15% 25% 25% 25% 15%;
}

.card {
  display: grid;
  background-color: var(--White);
  border-radius: 0.3em;
  box-shadow: 1px 10px 10px hsla(211, 36%, 56%, 0.5);
  overflow: hidden;
  padding: 2rem;
  gap: 1rem;
  width: 60%;
  margin: 20px 0;
}

#card1 {
  grid-column: 2;
  grid-row: 2;
  border-top: 4px solid var(--Cyan);
}

#card2 {
  grid-column: 3;
  grid-row: 1 / 2;
  border-top: 4px solid var(--Red);
}

#card3 {
  grid-column: 3;
  grid-row: 2 / 3;
  border-top: 4px solid var(--Orange);
}

#card4 {
  grid-column: 4;
  grid-row: 2;
  border-top: 4px solid var(--Blue);
}

h1 {
  font-weight: 600;
  color: var(--Grey500);
}

h2 {
  font-weight: 200;
  color: var(--Grey500);
}

h3 {
  color: var(--Grey500);
}

p {
  font-size: var(--fontsize);
  color: var(--Grey400);
  font-weight: 400;
}

img {
  display: flex;
  flex-direction: row-reverse;
  border: 5px solid pink;
}

/* Responsive Styles */
